* :not(body) {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: black;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #6d6d6d;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  animation: reveal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  
}
/* FORM SECTION STYLE */
.form_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* FORM LOGO */
.form_logo {
  text-align: center;
}
.form_logo > img {
  margin: -15px;
}
.form_logo h2{
    padding-bottom: 5px;
}
/* FORM INPUT */
.auto_sign {
  text-align: center;
}
.auto_sign a:active{
    background-color: #22ff007d;
}

.auto_sign a {
  border: 2px solid #97ce8e71;
  background-color: rgba(0, 255, 0, 0.145);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  width: 350px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 20px;
  text-decoration: none;
  color: azure;
  transition: 0.1s;

}
.auto_sign img {
  width: 35px;
}
/* FORM CONTAINER */
.form_input_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* EMAIL */
.email_container{
    width: 350px;
    height: 50px;
    border: 2px solid #6d6d6d;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
}
.email_container:focus-within{
    border: 2px solid green;
    border-radius: 10px;
}
.email_container img{
    width: 25px;
    margin: 10px;
    filter: invert(1) opacity(60%);
}
.email_container input{
    border: none;
    border-radius: 10px;
    outline: none;
    background: transparent;
    width: 100%;
    color: inherit;
    font-size: 15px;
    font-family: inherit;
}
::placeholder{
    font-size: 15px;
    font-family: inherit;
    color: inherit;
}
/* PASSWORD */
.password_container{
    width: 350px;
    height: 50px;
    border: 2px solid #6d6d6d;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
}
.password_container:focus-within:not(a){
    border: 2px solid green;
    border-radius: 10px;
}

.password_container img{
    width: 22px;
    margin: 10px;
    filter: invert(1) opacity(60%);
}
.password_container input{
    border: none;
    border-radius: 10px;
    outline: none;
    background: transparent;
    width: 100%;
    color: inherit;
    font-size: 15px;
    font-family: inherit;
}
.password_container a:active{
    color: green;
    text-decoration: none;
}

.password_container a{
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    position: absolute;
    margin-top: 56px;
    left: 72%;
}
.password_container span{
    font-size: 15px;
    margin-top: 15px;
    margin-right: 5px;
    cursor: pointer;
    user-select: none;
}
.password_container span:active{
    color: green;
}
/* ENDING FORM */
.sign_btn button{
    margin-top: 40px;
    cursor: pointer;
    border: none;
    background-color: green;
    border-radius: 10px;
    height: 50px;
    width: 350px;
    font-weight: bolder;
    color: #fff;
    transition: 0.1s;
}
.sign_btn button:active{
    background-color: #78ca6b;
}
.form_input_container p{
    margin-top: 12px;
}
.form_input_container p a{
    text-decoration: underline;
    color: rgb(133, 156, 113);
    
}
.form_input_container p a:active{
    color: green;
    text-decoration: none;
}

@keyframes reveal {
    from{
        opacity: 0;
        visibility: hidden;
        
    }
    to{
        opacity: 1;
        visibility: visible;
        
    }
}